*{
    background-color: #c4c4c4;
    padding: 0;
    margin: 0;
}
header{
    display: inline-block;
    background-color: darkslategray;
}
nav{
    display: inline-block;
    background-color: darkslategray;
}
